
@{
    ViewData["Title"] = "EstadoPesquisado";
}

<h1>Estado Pesquisado</h1>


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Pesquisa Estados</h2>
        <form action="/action_page.php">
            <div class="form-group">
                <label for="email">Sigla: @ViewBag.Sigla</label>

            </div>

            <div class="form-group">
                <label for="Desc">Descrição:@ViewBag.Descricao</label>

            </div>

            <div class="form-group">
                <label for="Aliq">Aliquota:: @ViewBag.Aliquota</label>

            </div>

            <button type="submit" class="btn btn-primary">Pesquisa</button>
        </form>
    </div>

</body>
</html>