
@{
    ViewData["Title"] = "Listagem de Estados";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Pesquisa Estados</h2>
        <form action="/action_page.php">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Sigla</th>
                        <th>Descrição</th>
                        <th>Aliquota</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Estados)
                    {
                        <tr>
                            <td>@item.SIGLA</td>
                            <td>@item.DESCRICAO</td>
                            <td>@item.VL_ALIQ_UF.ToString()</td>
                        </tr>
                    }

                </tbody>
            </table>


                      
        </form>
    </div>

</body>
</html>

