@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Selecione uma Opção</h2>
        <form action="/action_page.php">

            
            <button type="button" onclick="btnAbrir()" class="btn btn-primary">Pesquisar Estados</button>
            <button type="button" onclick="btnListar()" class="btn btn-primary">Listar Estados</button>

        </form>
    </div>

</body>
</html>
<script>
    function btnAbrir()
    {
        window.location.href = "../Estados/";
    }

    function btnListar()
    {
        window.location.href = "../Estados/ListagemEstados";
    }
</script>

